extends ../layout

block content
  //- a(href="/") VOLTAR

  #media
    .panel.panel-default
        .panel-heading
          a(href="/") Home
          span &nbsp;/&nbsp;
          = title
        .panel-body
          label.text-primary If you want, you can search in this list.
          input.search-box.search.form-control(type="text", placeholder="Search your "+type)

          ul.list-media.list
            each val, index in mediaData
              li.list-item(style={height: '200px', 'width': '200px'} data-src=val.image, data-title=val.title)
                a.js-active(href="javascript:void(0)" data-id=val.id, data-type=type)
                span.title= val.title


  script.
    $(function() {

      // lazy load images
      $('.list-media li').lazy();

      // filter results
      var options = {
        valueNames: [ 'title' ]
      };
      var userList = new List('media', options);

      // add relation
      $('#media').on('click', '.js-active', function(){
        $el = $(this);
        $.ajax({
          "method" : "post",
          "url": "/user/addMedia",
          "dataType": "JSON",
          "data": {
            "type" : $el.data("type"),
            "id": $el.data('id')
          },
          success: function(data){
            console.log(data);
          }
        }).fail(function(err){
          console.log(err)
        });
      });
    });